:host {
    display: block;
    min-width: 30px;
    max-width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--white-shadow);
}

@media screen and (min-width: 768px) {
    :host {
        min-width: 30px;
        max-width: 300px;
        border: 2px solid var(--white-shadow);
        border-radius: 5px;
        margin: 15px 0;
    }
}


:host p {
    margin: 0;
}

.todo-details-body {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

@media screen and (min-width: 768px) {
    .todo-details-body {
        justify-content: center;
    }
}

.todo-details {
    width: 80%;
}

.complete-handler-check {
    color: var(--white);
    font-size: 10px;
}

.todo-details-complete-handler {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 10px; */
}

@media screen and (min-width: 768px) {
    .todo-details-complete-handler {
        width: 20%;
        height: 35px;
    }
}

.todo-details-description {
    width: 90%;
    overflow-wrap: break-word;
    hyphens: auto;
    font-weight: 400;
    color: var(--gray);
    font-size: 14px;
    padding-left: 10px;
    /* inline-size: min-content; */
}

@media screen and (min-width: 768px) { 

    .todo-details-description {
        padding-left: 0;
     }
}

.todo-completed {
    opacity: 0.6;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

.complete-handler {
    cursor: pointer;
    color: var(--light);
    border: 2px solid var(--dark);
    background-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-handler-done {
    background-color: var(--dark) !important;
    opacity: 0.6;
}

