<div
    [class]="
        todoDetails.isInTrash
            ? 'todo-details-container gray-border'
            : ['todo-details-container', todoDetails.color].join(' ')
    "
>
    <div class="todo-details-body">
        <div class="todo-details-date">
            <p>{{ getDateString() }}</p>
        </div>
        <div class="todo-details" (click)="updateTodoOnClick()">
            <p class="todo-details-id">
                {{ todoDetails.id }}
            </p>
            <p
                class="todo-details-description"
                [ngClass]="{ 'todo-completed': todoDetails.isComplete }"
            >
                {{ todoDetails.description }}
            </p>
        </div>
        <div class="todo-details-trash-handler">
            @if (todoDetails.isInTrash) {
            <i
                class="trash-handler fa-solid fa-rotate-left"
                (click)="handleTodoThrashOnClick()"
            ></i>
            } @else {
            <i
                class="trash-handler fa-solid fa-trash"
                (click)="handleTodoThrashOnClick()"
            ></i>
            }
        </div>
    </div>
    <!-- <div class="todo-details-body-triangle-right"></div> -->
</div>
