.todo-details-container {
    background-color: transparent;
    min-width: 30px;
    max-width: 500px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 15px 0;
    padding: 20px 0;
}

.todo-details-id {
    color: var(--medium-green);
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

.todo-details-id::before {
    content: "#";
}


.todo-details-container p {
    margin: 0;
}

.todo-details-body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.todo-details {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.todo-details-description {
    width: 75%;
    display: inline;
    overflow-wrap: break-word;
    hyphens: auto;
    /* inline-size: min-content; */
}

.todo-details-trash-handler {
    height: 35px;
    width: 150px;
    margin-right: 10px;
}

.todo-details-body-triangle-right {
    background-color: inherit;
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid red;
	border-bottom: 25px solid transparent;
}

/* .todo-completed {
    opacity: 0.4;
    transition: 0.5s;
} */

.trash-handler {
    cursor: pointer;
    color: var(--light);
    background-color: rgb(34, 34, 34);
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-border {
    border-color: var(--orange) !important;
}
.red-border {
    border-color: var(--red) !important;
}
.yellow-border {
    border-color: var(--yellow) !important;
}
.turquoise-border {
    border-color: var(--turquoise) !important;
}
.pink-border {
    border-color: var(--pink) !important;
}
.blue-border {
    border-color: var(--blue) !important;
}
.green-border {
    border-color: var(--green) !important;
}