:host {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

:host {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.lists-title {
    margin: 0 20px;
    font-weight: 500;
    color: var(--yellow);
    font-size: 23px;
}

@media screen and (min-width: 768px) {
    .lists-title {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    :host {
        display: inline-flex;
    }

    :host {
        padding: 20px 40px;
        display: inline-flex;
    }
}

