<responsive-sidebar></responsive-sidebar>
<div class="todo-main-container">
    <!-- <div
            *ngIf="
                todoList.todoList.length === 0 && todoList.trashList.length === 0
            "
            class="list-message-placeholder"
        >
            <p>There's nothing to show for now... Let's write ideas!</p>
        </div> -->

    @if (appTodoListsKeys.length === 0) {
    <todo-list
        [todoList]="[]"
        [todoType]="todoListTypes.Todo"
        [dateDetails]="'03-11-2024'"
    ></todo-list>
    } @else { @for (listKey of appTodoListsKeys; track $index) {
    <todo-list
        [todoList]="appTodoLists[listKey]"
        [todoType]="todoListTypes.Todo"
        [dateDetails]="listKey"
    ></todo-list>
    } }
</div>
