<div class="header-body">
    <ul class="header-content-list">
        @for (option of headbarOptions; track $index) { @for (optionItem of
        option; track $index) {
        <li class="header-content-item">
            <a
                class="sidebar-content-item"
                [routerLink]="optionItem.linkTo"
                routerLinkActive="header-content-item-active"
                [routerLinkActiveOptions]="{
                    exact: true
                }"
            >
                <label>
                    {{ optionItem.name }}
                </label>
            </a>
        </li>
        } }
    </ul>
</div>
