<section class="todo-list-container">
    <div class="list-name">
        <p>{{ listName }}</p>
    </div>
    <div class="list-buttons-container">
        <button
            [disabled]="todoList.length === 0"
            (click)="cleanList()"
            *ngIf="todoType === todoListTypes.Trash && todoList.length > 0"
            class="list-button clean-trash-button"
        >
            Clean
        </button>
        <button
            class="list-button restore-thrash-button"
            [disabled]="todoList.length === 0"
            (click)="restoreTodosInTrash()"
            *ngIf="todoType === todoListTypes.Trash && todoList.length > 0"
        >
            Restore All
        </button>
    </div>

    <div>
        <ul>
            @for (item of todoList; track $index) {
            <li>
                <todo-details [todoDetails]="item"></todo-details>
            </li>
            }
        </ul>
    </div>
</section>
