.grecaptcha-badge { 
    visibility: hidden !important;
}

.todo-list-body {
    min-height: 80%;
}

:host {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    border: none;
    border-radius: 10px;
    padding: 25px 20px;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    :host {
        height: auto;
        margin-right: 15px;
        padding: 25px 20px;
        min-width: 300px;
        max-width: 300px;
        border: 2px solid var(--white-shadow);
        min-height: 140px;
    }
}

.todo-list-head {
    margin-bottom: 10px;
}

.list-dates {
    display: flex;
    flex-direction: column;
}

.list-dates .list-date {
    font-weight: 500;
}

.list-date  {
    font-size: 24px;
}

.list-date-day {
    font-size: 15px !important;
}

.list-dates .list-date-day {
    font-weight: 400;
    color: var(--dark-gray);
}

@media screen and (min-width: 768px) {
    .list-dates {
        flex-direction: row;
    }

    .list-dates .list-date, .list-dates .list-date-day  {
        font-size: 15px;
    }

    .list-dates .list-date-day {
        margin-left: 4px;
        font-size: 15px;
    }
}

.list-dates > * {
    margin: 0;
}

.list-buttons-container { 
    min-width: 120px;
    max-width: 170px;
    display: flex;
    justify-content: space-between;
}

.list-button {
    padding: 5px 10px;
    /* background-color: var(--dark-green) !important; */
    /* color: var(--light) !important; */
}

:host ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

