<a routerLink="/auth/login" routerLinkActive="active">Sign in</a>
<div *ngIf="showSignupForm">
    <form [formGroup]="form" class="signup-form">
        <form-field
            inputType="text"
            [hasLabel]="true"
            label="Username"
            formControlName="username"
        ></form-field>
        <form-field
            inputType="email"
            [hasLabel]="true"
            label="Email"
            formControlName="email"
        ></form-field>
        <form-field
            inputType="password"
            [hasLabel]="true"
            label="Password"
            formControlName="password"
        ></form-field>
        <form-field
            inputType="password"
            [hasLabel]="true"
            label="Password Confirmation"
            formControlName="passwordConfirmation"
        ></form-field>
        <form-field-error-list
            [errors]="signupAPIErrors"
        ></form-field-error-list>
        <button
            class="signup-form-submit"
            type="submit"
            [disabled]="!form.valid || buttonDisabled"
            (click)="onSubmit()"
        >
            Sign Up
        </button>
    </form>
</div>
