<main-form
    [formGroup]="form"
    [isLoading]="isLoading"
    [onSubmitProp]="onSubmit"
    submitButtonText="Register"
    title="Create Account"
    subtitle="Create an account quick with few steps"
>
    <div class="form-inputs-content">
        <form-field
            inputType="text"
            [hasLabel]="true"
            label="Username"
            formControlName="username"
        ></form-field>
        <form-field
            inputType="email"
            [hasLabel]="true"
            label="Email"
            formControlName="email"
        ></form-field>
        <form-field
            inputType="password"
            [hasLabel]="true"
            label="Password"
            formControlName="password"
        ></form-field>
        <form-field
            inputType="password"
            [hasLabel]="true"
            label="Password Confirmation"
            formControlName="passwordConfirmation"
        ></form-field>
    </div>
    <div class="form-body-content">
        <p class="external-options-title">
            <span>or Sign Up with</span>
        </p>
        <div class="external-options-container">
            <external-signin signinType="GOOGLE"></external-signin>
            <external-signin signinType="MICROSOFT"></external-signin>
        </div>
    </div>
    <div class="form-footer-content">
        <label class="login-message"> Already have an account? </label>
        <a routerLink="/auth/account-activation" routerLinkActive="active"
            >Sign In</a
        >
    </div>
</main-form>
