@media screen and (min-width: 425px) {
    .form-field-input, .form-field {
        width: var(--form-desktop-inputs-width) !important;
        max-width: var(--form-desktop-inputs-width) !important;
    }
}

.form-field-input {
    outline: none;
    padding: 8px 10px;
    background-color: white;
    border: 1px solid var(--white-shadow);
    font-weight: 500;
    font-size: var(--mobile-font-size);
    border-radius: 5px;
    height: 40px;
    font-family: inherit;
    width: var(--form-mobile-inputs-width);
    max-width: var(--form-mobile-inputs-width);
}

.password-toggle-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;

  }
  
  .password-toggle-icon img, object {
    width: 100%;
    cursor: pointer;
  }
  
  .password-toggle-icon i:hover {
    color: #000;
  }

.form-field-error-message {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    color: var(--red);
    word-wrap:break-word;

}

.form-field-input:focus:not(.form-field-error) {
    border-color: #000;
}

.form-field-error-exclamation {
    margin-right: 5px;
    font-size: 14px;
}

.form-field-error {
    border-color: var(--red);
    color: var(--red);
    /* border-left: 3px solid var(--red); */
}

.form-field-label {
    display: block;
    font-size: 12px;
    color: var(--gray);
    margin-bottom: 5px;
    font-family: inherit;
    font-weight: 400;
}

.form-field-input-container {
    position: relative;
    width: 100%;
}

.form-field {
    margin-bottom: 20px;
    width: var(--form-mobile-inputs-width);
    max-width: var(--form-mobile-inputs-width);
}