<div class="form-field">
    <label *ngIf="hasLabel" class="form-field-label">{{ label }}</label>
    <div class="form-field-input-container">
        <input
            [type]="inputType"
            [id]="formControlName"
            [(ngModel)]="value"
            (ngModelChange)="onChange($event)"
            (blur)="onTouched()"
            #inputValue="ngModel"
            [disabled]="isDisabled"
            [autocomplete]="!autocompleteFlag ? 'off' : 'on'"
            [class]="
                shouldShowErrors()
                    ? 'form-field-input form-field-error'
                    : 'form-field-input'
            "
        />
        <span
            *ngIf="hasPasswordToggler"
            (click)="passwordToggler()"
            class="password-toggle-icon"
        >
            <img
                [src]="
                    showPassword
                        ? '/assets/eye-close-svgrepo-com.svg'
                        : '/assets/eye-open-svgrepo-com.svg'
                "
                alt="Toggle Password Visibility"
            />
        </span>
    </div>

    <div *ngIf="shouldShowErrors()" class="form-field-error-message">
        <i class="fas fa-exclamation-triangle form-field-error-exclamation"></i>
        <span>{{ listOfErrors()[0] }}</span>
    </div>
</div>
