@media screen and (min-width: 425px) {
    .main-form  {
        height: auto !important;
        justify-content: unset !important;
        box-shadow: 0px 0px 10px 5px var(--white-shadow);
        width: var(--form-desktop-container-width) !important;
    }

    .main-form > *:not(.external-options-container) {
        width: var(--form-desktop-inputs-width) !important;
    }   
}

@media screen 
and (min-device-width: 425px) 
and (max-device-width: 1024px)
and (orientation: landscape)
{
    .main-form  {
        height: auto !important;
        justify-content: unset !important;
        box-shadow: none;
        width: var(--form-desktop-container-width) !important;
    }
}

.main-form {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    height: 700px;
    width: var(--form-mobile-container-width);
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 25px 0 35px 0px;
}

.main-form *:not(.signup-options) {
    width: var(--form-mobile-inputs-width);
}

.main-form > p, h1, h2 {
    text-align: center;
}

.main-form-title {
    margin: 5px 0;
}

.main-form-subtitle {
    font-size: var(--mobile-font-size);
    font-weight: 300;
    margin: 10px 0 20px 0;
    color: var(--dark-gray);
}

.main-form, .main-form-body, .main-form-footer {
    font-size: var(--mobile-font-size);
    color: var(--dark-gray) !important;
}

.main-form a {
    text-decoration: none;
    color: var(--dark);
    font-size: var(--mobile-font-size);

}

.main-form a:visited {
    color: inherit;
    text-decoration: none;
}


.form-submit:disabled {
    background-color: var(--purple-disabled);
    transition: background-color 0.5s ease-in-out;
    cursor: default;
}

.form-submit {
    background-color: var(--purple);
    font-family: inherit;
    border: none;
    height: 30px;
    width: var(--form-mobile-inputs-width);
    font-size: 13px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.09em;
    border-radius: 6px;
    height: 35px;
    margin: 20px 0;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

