<!-- <button (click)="handleGoogleLogin()">Login with google</button> -->
<!-- <div
    *ngIf="signinType === externalSignupOptionEnum.Google"
    class="google-signup-option"
>
    <div id="g_id_onload"></div>
</div> -->
<div
    class="signup-option"
    *ngIf="signinType === externalSignupOptionEnum.Microsoft"
    (click)="handleMicrosoftLogin()"
>
    <div class="signup-option-image">
        <object type="image/svg+xml" data="assets/Microsoft_logo.svg"></object>
    </div>

    <label>Continue with Microsoft</label>
</div>
