.create-todo-button-container {
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 10px 0;
}

@media screen and (min-width: 768px) { 
    .create-todo-button-container {
        min-width: 256px;
        max-width: 256px;
        margin: 0;
        padding: 0;
    }
    
}

.create-todo-button-label {
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    color: var(--gray)
}