<div>
    <form [formGroup]="todosAddForm" (ngSubmit)="onTodosAddSubmit()">
        <input
            formControlName="description"
            placeholder="Description goes here..."
            type="text"
            name="description"
            required
        />
        <div
            class="alert-danger"
            *ngIf="
                description?.invalid &&
                (description?.dirty || description?.touched)
            "
        >
            <div *ngIf="description?.errors?.['required']">
                <p>Description is required</p>
            </div>
        </div>
        <button type="submit">Create</button>
    </form>
    <p>Form Status: {{ todosAddForm.status }}</p>
    <todo-list [todoList]="todoList.list"></todo-list>
    <todo-list [todoList]="trashTodoList.list"></todo-list>
</div>
