<div class="list-main-container">
    <form
        class="list-form"
        [formGroup]="todosAddForm"
        (ngSubmit)="onTodosAddSubmit()"
    >
        <input
            formControlName="description"
            placeholder="Description..."
            type="text"
            name="description"
            required
        />
        <!-- <div
            class="alert-danger"
            *ngIf="
                description?.invalid &&
                (description?.dirty || description?.touched)
            "
        >
            <div *ngIf="description?.errors?.['required']">
                <p>Description is required</p>
            </div>
        </div> -->
        <button type="submit"></button>
    </form>
    <div
        *ngIf="
            todoList.todoList.length === 0 && todoList.trashList.length === 0
        "
    >
        <p>There's nothing to show for now... Let's write ideas!</p>
    </div>
    <todo-list
        [todoList]="todoList.todoList"
        [todoType]="todoListTypes.Todo"
    ></todo-list>
    <todo-list
        [todoList]="todoList.trashList"
        [todoType]="todoListTypes.Trash"
    ></todo-list>
</div>
