<div class="list-main-container">
    <form
        class="list-form"
        [formGroup]="todosAddForm"
        (ngSubmit)="onTodosAddSubmit()"
    >
        <input
            formControlName="description"
            placeholder="Description..."
            type="text"
            name="description"
            required
        />
        <!-- <div
            class="alert-danger"
            *ngIf="
                description?.invalid &&
                (description?.dirty || description?.touched)
            "
        >
            <div *ngIf="description?.errors?.['required']">
                <p>Description is required</p>
            </div>
        </div> -->
        <button type="submit"></button>
    </form>
    <div
        *ngIf="
            todoList.todoList.length === 0 && todoList.trashList.length === 0
        "
        class="list-message-placeholder"
    >
        <p>There's nothing to show for now... Let's write ideas!</p>
    </div>
    <div *ngIf="todoList.todoList.length > 0 || todoList.trashList.length > 0">
        <todo-list
            [todoList]="todoList.todoList"
            [todoType]="todoListTypes.Todo"
            [listName]="'Your to do list'"
        ></todo-list>
        <todo-list
            [todoList]="todoList.trashList"
            [todoType]="todoListTypes.Trash"
            [listName]="'Your trash'"
        ></todo-list>
    </div>
</div>
