<main-form
    [formGroup]="form"
    [isLoading]="isLoading"
    [onSubmitProp]="onSubmit"
    submitButtonText="Sign In"
    title="Log In"
    subtitle="Let's get started saving those lists!"
>
    <div class="form-inputs-content">
        <form-field
            inputType="email"
            [hasLabel]="true"
            label="Email"
            formControlName="email"
        ></form-field>
        <form-field
            inputType="password"
            [hasLabel]="true"
            label="Password"
            formControlName="password"
        ></form-field>
    </div>
    <div class="form-body-content">
        <p class="forgotten-password-message">Forgotten password?</p>
        <p class="external-options-title">
            <span>or Log In with</span>
        </p>
        <div class="external-options-container">
            <external-signin signinType="GOOGLE"></external-signin>
            <external-signin signinType="MICROSOFT"></external-signin>
        </div>
    </div>
    <div class="form-footer-content">
        <label class="login-message"> Don't have an account yet? </label>
        <a routerLink="/auth/signup" routerLinkActive="active">Sign Up</a>
    </div>
</main-form>
