<form [formGroup]="form" class="login-form">
    <h2 class="login-form-title">Log In</h2>
    <p class="login-form-title-message">
        Let's get started and save those lists from your to do list
    </p>

    <!-- <form-field-error-list [errors]="loginAPIErrors" /> -->
    <form-field
        inputType="email"
        [hasLabel]="true"
        label="Email"
        formControlName="email"
    ></form-field>
    <form-field
        inputType="password"
        [hasLabel]="true"
        label="Password"
        formControlName="password"
    ></form-field>
    <button
        [disabled]="isLoading || !form.valid"
        class="login-form-submit"
        type="submit"
        (click)="onSubmit()"
    >
        Sign In
    </button>
    <p class="login-message forgotten-password-message">Forgotten password?</p>
    <p class="login-message external-options-title">
        <span>or Log In with</span>
    </p>
    <div class="external-options-container">
        <external-signin signinType="GOOGLE"></external-signin>
        <external-signin signinType="MICROSOFT"></external-signin>
    </div>

    <div class="login-footer">
        <label class="login-message"> Don't have an account yet? </label>
        <a routerLink="/auth/signup" routerLinkActive="active">Sign Up</a>
    </div>
</form>
