
.external-options-container {
    width: 280px;
    margin: 20px auto 60px;
}

.form-footer-content {
    text-align: center;
}

.forgotten-password-message {
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
}

.external-options-title {
    border-bottom: 1px solid var(--white-shadow);
    line-height: 0.1em;
    margin: 25px 0 35px;
    text-align: center;
}


.external-options-title span {
    background: white;
    padding: 0 10px;
}
