/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';



:root {
    --white: #DDE6ED;
    --white-shadow: #c3d0db;
    --dark:  #191919;
    --dark-green: #183D3D;
    --medium-green: #5C8374;
    --light-green: #93B1A6;
    --red: #B80000;
    --orange: #FC6736;
    --yellow: #FF9800;
    --blue: #40A2E3;
    --purple: #6C22A6;
    --turquoise: #37B5B6;
    --pink: #D63484;
    --green: #65B741;
    --gray: #5C5470;
    --dark-gray: #3B3B3B;
    --dark-2: #03001C;

    /* Global forms values */
    /* ----- Mobile  ----- */
    --mobile-font-size: 14px;
    --form-mobile-container-width: 330px;
    --form-mobile-inputs-width: 280px;
    /* ----- Desktop (min-width: 425px) ----- */
    --desktop-font-size: 12px;
    --form-desktop-container-width: 400px;
    --form-desktop-inputs-width: 330px;
}

* {

    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

html, body { height: 100%; }

.text-danger {
    color: var(--red);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
