<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" />
        <mat-error> Error </mat-error>
    </mat-form-field>
    <!-- 
     <form-field
        inputType="password"
        [hasLabel]="true"
        label="Password"
        formControlName="password"
    ></form-field>  -->
    <div>
        <button mat-raised-button type="submit" (click)="onSubmit()">
            Sign In
        </button>
        <small>Don't have an account? No worries you can continue</small>
    </div>
</form>
